SSH client diffie-hellman-group-exchange-sha256, diffie-hellman-group14-sha256, and co rejected when signed with SHA1

Hi,

I have a 3rd party server (Python Twisted Conch / not ssh2 js) configured with one of the following KEX: 

* `diffie-hellman-group-exchange-sha256`
* `diffie-hellman-group14-sha256`
* `diffie-hellman-group15-sha512`
* `diffie-hellman-group16-sha512`
* `diffie-hellman-group17-sha512`
* `diffie-hellman-group18-sha512`

When the SSH server host key is negociated to `rsa-sha2-512` or `rsa-sha2-256`, ssh2 js expected the MSG_KEXDH_REPLY to be signed using sha2.

I think that this is wrong and the signature should still be done using SHA1 ... or at least accept sha1 signature.

For example `diffie-hellman-group-exchange-sha256` is documented in [RFC 4419 section 4.2](https://www.rfc-editor.org/rfc/rfc4419#section-4.2)


> Note that the hash used in key exchange (in this case, SHA-256) must
> also be used in the key derivation pseudo-random function (PRF), as
> per the requirement in the "Output from Key Exchange" section in
> [[RFC4253](https://www.rfc-editor.org/rfc/rfc4253)].

It doesn't mention that the response should be signed using SHA1.

OpenSSH client accepts both signatures... but putty fails if server signature uses sha2

I think that ssh2 js should accept both variants 

--------

I use ssh2 js as a client with this code from the example

```js
const { Client } = require('ssh2');

const conn = new Client();
conn.on('ready', () => {
  console.log('Client :: ready');
  conn.sftp((err, sftp) => {
    if (err) throw err;
    sftp.readdir('/', (err, list) => {
      if (err) throw err;
      console.dir(list);
      conn.end();
    });
  });
}).connect({
  host: '127.0.0.1',
  port: 10022,
  username: 'user',
  password: 'password'
});
```

The traceback is

```
Error: Wrong signature type: ssh-rsa, expected: rsa-sha2-256
    at makeError (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/utils.js:142:15)
    at doFatalError (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/utils.js:184:13)
    at DHExchange.finish (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/kex.js:639:18)
    at DHExchange.parse (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/kex.js:1267:23)
    at Protocol.onKEXPayload (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/kex.js:1826:20)
    at NullDecipher.decrypt (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/crypto.js:612:26)
    at Protocol.parsePacket [as _parse] (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/Protocol.js:2028:25)
    at Protocol.parse (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/protocol/Protocol.js:313:16)
    at Socket.<anonymous> (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/client.js:773:21)
    at Socket.emit (node:events:517:28)
Emitted 'error' event on Client instance at:
    at Socket.<anonymous> (/home/adi/chevah/server/node_modules/.pnpm/ssh2@1.17.0/node_modules/ssh2/lib/client.js:775:20)
    at Socket.emit (node:events:517:28)
    at addChunk (node:internal/streams/readable:368:12)
    at readableAddChunk (node:internal/streams/readable:341:9)
    at Readable.push (node:internal/streams/readable:278:10)
    at TCP.onStreamRead (node:internal/stream_base_commons:190:23) {
  level: 'handshake',
  fatal: true
}
```

I think that I was wrong here.

I see that putty requires SHA2 for the signature.

OpenSSH and paramiko are ok with both SHA1 and SHA2 for the signature

Sorry for the noise. I am closing this now and will re-open if this is an issue.