"Invalid identification string” error

There is an old switch I can ssh by MobaXterm or ssh client in Windows. But when I use ssh2 lib to connect, below error occurs:
```
node:events:368
      throw er; // Unhandled 'error' event
      ^

Error: Invalid identification string
    at Protocol.parseHeader [as _parse] (D:\dh\code\try-nodejs\node_modules\?[4mssh2?[24m\lib\protocol\Protocol.js:1935:17)
    at Protocol.parse (D:\dh\code\try-nodejs\node_modules\?[4mssh2?[24m\lib\protocol\Protocol.js:293:16)
    at Socket.<anonymous> (D:\dh\code\try-nodejs\node_modules\?[4mssh2?[24m\lib\client.js:713:21)
?[90m    at Socket.emit (node:events:390:28)?[39m
?[90m    at addChunk (node:internal/streams/readable:315:12)?[39m
?[90m    at readableAddChunk (node:internal/streams/readable:289:9)?[39m
?[90m    at Socket.Readable.push (node:internal/streams/readable:228:10)?[39m
?[90m    at TCP.onStreamRead (node:internal/stream_base_commons:199:23)?[39m
Emitted 'error' event on Client instance at:
    at Socket.<anonymous> (D:\dh\code\try-nodejs\node_modules\?[4mssh2?[24m\lib\client.js:715:20)
?[90m    at Socket.emit (node:events:390:28)?[39m
    [... lines matching original stack trace ...]
?[90m    at TCP.onStreamRead (node:internal/stream_base_commons:199:23)?[39m
```
After added some debug code to Protocol.js , I found the identification string from the switch might not match standard well:
```
172.28.230.19: initiate
172.28.230.19: Connection.connect
Connected
<dh.debug>data
<Buffer 53 53 48 2d 32 2e 30 2d 20 20 20 20 20 20 20 0d 0a>
<dh.debug>full
SSH-2.0-
<dh.debug>identRaw
SSH-2.0-
```
so I bypass the throwing exception by changing code as below and then the script works as expected
```javascript
if (!m){
    // throw new Error('Invalid identification string');
    m =[];
    m[1] = '2.0';
    m[2] ='';
    m[3] =''
  } 
```
I guess the root cause shoud be the switch's bug, but is it possible to be compatible with this case like MobaXterm?

FYI: the identificatin output when run  "ssh -vvv  [user]@[IP]"  from Windows CMD：
```
debug1: Local version string SSH-2.0-OpenSSH_for_Windows_7.7
debug1: Remote protocol version 2.0, remote software version
debug1: no match:
```

Ran into this same issue today when attempting a connection known to work under earlier versions of this module (pre 1.0).

Based on my (non-expert) read of [RFC4253 Section 4.2](https://datatracker.ietf.org/doc/html/rfc4253#section-4.2), it doesn't explicitly state that the `softwareversion` in the ident can't be all whitespace... although at best it means it is unclear whether some of the whitespace is meant to be `comments` or whether it's all meant to be `softwareversion`.

At the very least I'd expect this library to log the ident to the debug handler/callback before raising this kind of error, because currently in order to actually see the ident in question I've had to use a downgraded version of the library.

But to be honest it seems like an argument could be made that supporting remote ident strings with all-whitespace `softwareversion` values is a "need" rather than a "nice-to-have" since it's not disallowed by the relevant RFC. Maybe?